* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hue-neutral:200;
  --hue-wrong: 0;
  --hue-correct: 145;
}
body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
  font-family: Georgia, 'Times New Roman', Times, serif;
  

}

body-correct {
  --hue: var(--hue-correct);
}

body-wrong {
  --hue: var(--hue-wrong);
}



.overlay {

   text-align: center;
   font-size: 25px;

}
.imgDiv {
  width: 50px;
  height: 50px;
  align-items: center;
}


.logo {
  text-align: center;
}

img {

  display:block;
  margin-right:auto;
  margin-left:auto;
  
  }

  ul {
    color: black;
  }

  
  .container {
    
    width: 800px;
    max-width: 80%;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    box-shadow: 0 0 8px 3px #fff;
  }
  fieldset {
    display: grid;
    font-size: 30px;
    border: none;
    gap: 10px;
    margin: 10px;
  }

  .welcome {
    text-align: center;
    margin: 10px;
    padding: 5px;
  }

  p {
    font-size: 22px;
    text-decoration: underline;
  }

  

  legend {
    text-align: center;
  }

  .start-button {
    border-radius: 10px;
    font-size: 20px;
    margin: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px 3px #fff;
    
  }

  .submit-button {
    border-radius: 2px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    box-shadow: 0 0 8px 3px #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .next-button {
    margin-top: 160px;
    border-radius: 2px;
    margin-right: auto;
    margin-left: auto;
    font-size: 22px;
    box-shadow: 0 0 8px 3px #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .reset-button {
    margin-top: 130px;
    border-radius: 2px;
    margin-right: auto;
    margin-left: auto;
    font-size: 22px;
    box-shadow: 0 0 8px 3px #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .state-inner {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 400px;
    text-align: center;
    font-weight: bold;
    color: #fff;
  }

  

    
 


  